* {
    margin: 0;
}

body{
    background-color: rgb(197, 224, 222);
    font-family: calibri; color:rgb(5, 11, 36);
    font-size: 18px;
    color:#010f0b;
}

.topo { 
    background-color: #d46bba;
    padding: 50px;
}

.topo a{
    color:#15e966;
    text-decoration: none;
}
.botao {
    background-color: rgb(157, 157, 163);
}
.menu {

display: flex;
list-style: none;
margin-left: auto;
}
.menu a:hover {
    color:blueviolet
}


.botao a{background-color: black;
color:white;
text-decoration: none;
padding: 10;
}
.rodape {background-color: black;
color:white;
padding: 30px;
}
main {
    padding: 30px;
}
.navegacao {
    display: flex;
    list-style: none;
    padding: 5px;
}
li {
    padding-right: 20px;
}