* {
    margin: 0;
}

body{
    background-color: rgb(197, 224, 222);
    font-family: calibri; color:rgb(5, 11, 36);
    font-size: 18px;
    color:#010f0b;
}

.topo { 
    background-color: #d46bba;
    padding: 50px;
}

.topo a{
    color:#15e966;
    text-decoration: none;
}

article {
    background-color: blue;
}

article a{background-color: black;
color:white;
text-decoration: none;
padding: 10;
}
.rodape {background-color: black;
color:white;
padding: 30px;}
main {
    padding: 30px;
}